.content {
  width: 85%;
  margin: 3rem auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.content img {
  width: 70%;
  height: 30rem;
  object-fit: cover;
}

.content .info {
  width: 35rem;
  max-width: 70%;
  background-color: rgba(256, 256, 256, 0.7);
  padding: 4rem 0 0 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content .info h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.content .info p {
  line-height: 1.5;
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {
  .content {
    width: 90%;
  }
  .content img {
    width: 100%;
    height: auto;
  }
  .content .info {
    position: relative;
    max-width: 100%;
    text-align: center;
    padding: 0;
  }
  .content .info h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .content .info p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
