.g {
  width: 85%;
  margin: auto;
  margin-bottom: 4rem;
}

.g-title {
  margin: 4rem auto 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.g-title h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.g-title h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1rem;
  border: 2px solid black;
}

.grid {
  height: 60rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.box {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.box h3 {
  position: absolute;
  letter-spacing: 2px;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {
  .g {
    width: 90%;
  }
  .grid {
    height: 75rem;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .box h3 {
    bottom: 1rem;
    left: 1rem;
  }
}
